.resetPasswordWrapper{
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 44px;
    color: var(--main-font-dark);
    margin-bottom: 200px;
    outline: none !important;

    .heading{
        display: flex;
        flex-direction: column;
        row-gap: 24px;

        h2{
            text-align: center;
            font-weight: 500;
            font-size: 28px;
            line-height: 36px;
            align-items: center;
        }

        p{
            padding-left: 20px;
            padding-right: 20px;
            font-weight: 400;
            font-size: 14px;
            line-height: 21px;
            max-width: 400px;
            text-align: center;
            color: var(--secondary-font-dark);
        }

    }
}

.resetPasswordForm{
    width: 400px;
    display: flex;
    flex-direction: column;
    row-gap: 24px;

    @media(max-width:425px){
        width: 300px;
    }
}

.inputField{
    display: flex;
    flex-direction: column;
    row-gap: 8px;

    h3{
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;
    }
}


.passwordRequirements,.error{
    font-size: 12px;
    font-weight: 400;
}


.error{
    color: var(--danger-color);
}
