.dataChartWrapper{
    background-color: var(--input-background-color);
    width: 568px;
    border-radius: 8px;
}

.heading{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 0.5px solid var(--input-border-color);
    padding-left: 20px;
    padding-right: 20px;

    h2{
        font-size: 15px;
        color: var(--secondary-font-dark);
        font-weight: 400;
    }
}