.button{
    border: none !important;
    background-color: var(--main-button-color) !important;
    height: 48px;
    max-width: 400px;
    border-radius: 100px;
    color: var(--main-font-white) !important;
    transition: all 0.4s ease;
    width: 100% !important;
    cursor: pointer;

    :global(.ant-btn-loading-icon) {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 24px !important; /* Increase the size of the spinner */
        width: 24px !important;     /* Set custom width */
        height: 24px !important;    /* Set custom height */
      }
}

.button:hover{
    background-color: var(--button-active-background) !important;
    color: var(--main-font-white) !important;
    box-shadow: 0px 2px 15px 0px #FF950026;

    span{
        color: var(--main-font-white) !important;
    }

}

.button:active{
    background-color: var(--button-active-background) !important;
    color: var(--main-font-white) !important;
    box-shadow: 0px 2px 15px 0px #FF950026;

    span{
        color: var(--main-font-white) !important;
    }
}

.button:disabled{
    opacity: 0.5;
    cursor: no-drop;
}